amqp==2.1.4
beautifulsoup4==4.6.0
billiard==3.5.0.2
blinker==1.4
bs4==0.0.1
celery==4.0.2
click==6.7
cycler==0.10.0
decorator==4.1.2
Django==1.11.1
django-braces==1.11.0
django-common-helpers==0.9.1
django-cron==0.5.0
django-model-utils==3.0.0
django-star-ratings==0.5.5
djangorestframework==3.6.3
Flask==0.12.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
GDAX==0.2.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.0.2
lxml==3.7.3
MarkupSafe==1.0
matplotlib==2.0.2
networkx==2.0
numpy==1.12.1
olefile==0.44
pandas==0.20.1
Pillow==4.1.1
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
scipy==1.0.0
six==1.10.0
tqdm==4.15.0
vine==1.1.3
websocket-client==0.40.0
Werkzeug==0.12.2
whitenoise==3.3.0
